* {
    margin: 0, auto;
    font-family: "Open Sans", sans-serif;
}

.Primary-text {
    color: #39B6FF;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    border: 0;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    background: #39B6FF;
}

/* Header & naviagtion Styles  */
.header {
    background: rgb(233, 248, 254);
    background-image: url(/images/header_bg1.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner Styles */
.header-banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Section Style */
main {
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
    
}
/* About Sections Styles */
.about {
    text-align: center;
    background: #e4fdff;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info ul {
    list-style: none;
}

.info-options {
    color: #757575;
    font-size: 18px;
}

.info-answers {
    font-size: 18px;
    color: #474747;
    font-weight: 700;
}
/* What I Do Styles */

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #ffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* resume styles */
.resume-content{
    display: flex;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-content hr{
    margin-right: 30px;
}
.resume .title{
font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;
}
.resume .sub-title{
color: #757575;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}
.resume .description{
color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* conatct Style */
.contact{
    display: flex;
    gap: 100px;
    background-color: #e4fdff;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input, textarea{
    margin-bottom: 24px;
    border: 0;
    padding:18px 30px;
    width: 100%;
}
input{
    height: 30px;
}
.contact a{
    text-decoration: none;
}
